<div class="row board">
  <div class="col-12 row">
    <div class="col-3"></div>
    <div class="col-2 campos"  name="a1" [SetPoint] = "playerBoard"  (point) = "change($event)"></div>
    <div class="col-2 campos"  name="a2" [SetPoint] = "playerBoard"  (point) = "change($event)"></div>
    <div class="col-2 campos"  name="a3" [SetPoint] = "playerBoard"  (point) = "change($event)"></div>
    <div class="col-3"></div>
  </div>
  <div class="col-12 row">
    <div class="col-3"></div>
    <div class="col-2 campos"  name="b1" [SetPoint] = "playerBoard"  (point) = "change($event)"></div>
    <div class="col-2 campos"  name="b2" [SetPoint] = "playerBoard"  (point) = "change($event)"></div>
    <div class="col-2 campos"  name="b3" [SetPoint] = "playerBoard"  (point) = "change($event)"></div>
    <div class="col-3"></div>
  </div>
  <div class="col-12 row">
    <div class="col-3"></div>
    <div class="col-2 campos"  name="c1" [SetPoint] = "playerBoard"  (point) = "change($event)"></div>
    <div class="col-2 campos"  name="c2" [SetPoint] = "playerBoard"  (point) = "change($event)"></div>
    <div class="col-2 campos"  name="c3" [SetPoint] = "playerBoard"  (point) = "change($event)"></div>
    <div class="col-3"></div>
  </div>
</div>